<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWebDay02</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidUsernameServlet</display-name>
    <servlet-name>ValidUsernameServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.ValidUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidUsernameServlet</servlet-name>
    <url-pattern>/validUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFirstFillter</filter-name>
    <filter-class>com.atguigu.filter.MyFirstFillter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFirstFillter</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFirstFillter2</filter-name>
    <filter-class>com.atguigu.filter.MyFirstFillter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFirstFillter2</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.atguigu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.atguigu.listener.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>QueryAllEmpsServlet</display-name>
    <servlet-name>QueryAllEmpsServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.QueryAllEmpsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllEmpsServlet</servlet-name>
    <url-pattern>/getAllEmps</url-pattern>
  </servlet-mapping>
</web-app>